terraform {
  backend "s3" {
    endpoint   = "storage.yandexcloud.net"
    bucket     = "test"
    region     = "us-east-1"
    key        = "tf-stage.tfstate"
    access_key = "111111111"
    secret_key = "222222222"
    
    skip_region_validation      = true
    skip_credentials_validation = true
  }
}
